# Cargando los Datos

Datos del 01/02/2018 al 28/02/2018<br>
Los datos Genre están expresados en minutos vistos en el mes<br>

In [2]:
!pip install pydotplus

Collecting pydotplus
  Downloading https://files.pythonhosted.org/packages/60/bf/62567830b700d9f6930e9ab6831d6ba256f7b0b730acb37278b0ccdffacf/pydotplus-2.0.2.tar.gz (278kB)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\steye\anaconda2\lib\site-packages (from pydotplus) (2.4.0)
Building wheels for collected packages: pydotplus
  Building wheel for pydotplus (setup.py): started
  Building wheel for pydotplus (setup.py): finished with status 'done'
  Stored in directory: C:\Users\steye\AppData\Local\pip\Cache\wheels\35\7b\ab\66fb7b2ac1f6df87475b09dc48e707b6e0de80a6d8444e3628
Successfully built pydotplus
Installing collected packages: pydotplus
Successfully installed pydotplus-2.0.2

In [50]:
import numpy as np
import pandas as pd
import sklearn.datasets as datasets
import pandas as pd
import random
import csv
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import jaccard_similarity_score
from sklearn.metrics import confusion_matrix
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
import seaborn as sns

In [129]:
data = pd.read_csv(r"Base/FullData.csv")
data['Date of birth']= pd.to_datetime(data['Date of birth'],format='%Y-%m-%d') 
data.head()

,Panelist ID,Sex code,Date of birth,Marital status,Household status,Working status,Terminal age of education,Welsh Language code,Gaelic language code,Dependency of Children,...,Genre Hobbies/Leisure,Genre Documentaries,Genre Religious,Genre Sport,Genre Children,Genre PP Broadcast,Genre Education,Genre Other Films,Genre Other,Genre Other.1
0,9013301,2,1970-04-01,1,2,2,2,9,9,9,...,4.00,12.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,4082903,2,2010-11-01,2,1,5,4,9,9,9,...,0.00,0.0,0.0,64.0,0.0,0.0,0.0,0.0,0.0,151.77
2,5058901,2,1971-06-01,1,2,4,2,9,9,9,...,606.73,1751.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,896.13
3,52001,1,1956-10-01,2,4,4,1,9,9,9,...,439.03,1112.9,0.0,54.0,34.0,0.0,0.0,0.0,0.0,506.87
4,3673203,2,1997-10-01,2,1,5,4,9,9,9,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.00

In [130]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10077 entries, 0 to 10076
Data columns (total 50 columns):
Panelist ID                   10077 non-null int64
Sex code                      10077 non-null int64
Date of birth                 10077 non-null datetime64[ns]
Marital status                10077 non-null int64
Household status              10077 non-null int64
Working status                10077 non-null int64
Terminal age of education     10077 non-null int64
Welsh Language code           10077 non-null int64
Gaelic language code          10077 non-null int64
Dependency of Children        10077 non-null int64
Life stage                    10077 non-null int64
Ethnic Origin                 10077 non-null int64
Disability                    10077 non-null int64
No of TV Sets                 10077 non-null int64
No of VCRs                    10077 non-null int64
No of PVRs                    10077 non-null int64
No of DVDs                    10077 non-null int64
No of People                  10077 non-null int64
Social Class                  10077 non-null object
Presence of Children          10077 non-null int64
Demographic cell 1            10077 non-null int64
Language Spoken at Home       10077 non-null int64
Welsh Speaking Home           10077 non-null int64
Number of DVD Recorders       10077 non-null int64
Number of DVD Players         10077 non-null int64
Number of Sky PVRs            10077 non-null int64
Number of other PVRs          10077 non-null int64
Broadband                     10077 non-null int64
Mosaic Classification         10077 non-null int64
No of Computers               10077 non-null int64
Genre Drama                   10077 non-null float64
Genre Soaps                   10077 non-null float64
Genre Series Drama Generic    10077 non-null float64
Genre Cinema Films            10077 non-null float64
Genre TV Fils                 10077 non-null float64
Genre Entertainment           10077 non-null float64
Genre Music                   10077 non-null float64
Genre Arts                    10077 non-null float64
Genre News/Weather            10077 non-null float64
Genre Current Affairs         10077 non-null float64
Genre Hobbies/Leisure         10077 non-null float64
Genre Documentaries           10077 non-null float64
Genre Religious               10077 non-null float64
Genre Sport                   10077 non-null float64
Genre Children                10077 non-null float64
Genre PP Broadcast            10077 non-null float64
Genre Education               10077 non-null float64
Genre Other Films             10077 non-null float64
Genre Other                   10077 non-null float64
Genre Other.1                 10077 non-null float64
dtypes: datetime64[ns](1), float64(20), int64(28), object(1)
memory usage: 3.8+ MB

## Descripcion de los valores:

**Sex code:**<br>
1 = Male<br>
2 = Female<br>

**Marital status**<br>
1 = Married / living as married<br>
2 = Single / divorced / separated <br>
9 = Unclassified <br>

**Household status**<br>
1 = Neither Houseperson nor head of household <br>
2 = Houseperson and NOT Head of Household <br>
3 = Head of household and NOT Houseperson <br>
4 = Both Houseperson and head of household <br>
9 = Unclassified <br>

**Working status**<br>
1 = Working 30+ hours per week <br>
2 = Working 8-29 hours per week <br>
3 = Working less than 8 hours per week <br>
4 = No paid work <br>
5 = Full time education / under school age <br>
9 = Unclassified <br>

**Terminal age of education**<br>
1 = 15 years and under <br>
2 = 16-18 years <br>
3 = 19 + years <br>
4 = Still in education <br>
9 = Unclassified <br>

**Welsh Language code Welsh**<br>
speaking fluency. Understand, speak write and read Welsh: <br>
1 = Extremely well <br>
2 = Quite well <br>
3 = A little <br>
4 = Can understand and speak some Welsh <br>
5 = Can understand a little Welsh <br>
9 = Not Welsh speaking/Not in Wales <br>
0 = Unclassified <br>

**Gaelic language code**<br>
Gaelic speaking fluency. Understand, speak, write and read Gaelic. <br>
1 = Extremely well <br>
2 = Quite well <br>
3 = A little <br>
4 = Can understand and speak some Gaelic <br>
5 = Can understand a little Gaelic <br>
9 = Not Gaelic speaking/Not in Scotland<br> 
0 = Unclassified <br>

**Dependency of Children**<br>
1 = Parent/Guardian <br>
2 = Dependent Child <br>
3 = Neither <br>
9 = Unclassified<br>

**Lifestage (12 way classification)**<br>
01 = Single, no children, with parents, aged 16-34 <br>
02 = Single, no children, on own or with friends, aged 16-34 <br>
03 = Couple, no children, aged 16-34 <br>
04 = Single, no children, on own or with friends, aged 35-54 <br>
05 = Couple, no children, aged 35-54 <br>
06 = Single, no children, on own, aged 55+ <br>
07 = Couple, no children, aged 55+ <br>
08 = Either, youngest children 0-4, includes single parents <br>
09 = Either, youngest children 5-9, includes single parents <br>
10 = Either youngest children 10-15, includes single parents <br>
11 = Either, Children 16+ none 0-15, aged 35+ <br>
12 = Other <br>
99 = Unclassified <br>

**Ethnic Origin**<br>
01 = White British<br>
02 = Black – Caribbean<br>
03 = Black – African<br>
04 = Black – other<br>
05 = Asian – Indian <br>
06 = Asian – Pakistani <br>
07 = Asian – Bangladeshi <br>
08 = Chinese <br>
09 = Any other background <br>
10 = Other White <br>
11 = Mixed – White/Black Caribbean <br>
12 = Mixed – White/Black African <br>
13 = Mixed – White/Asian <br>
14 = Other mixed background <br>
15 = Other Asian background <br>
16 = Don’t know <br>
17 = Refused <br>
99 = Unclassified<br> 

**Disability**<br>
Normal daily activities limited by long-term disability/health problem: <br>
001 = Yes, Limited a lot <br>
002 = Yes, Limited a little <br>
003 = No <br>
999 = Unclassified <br>

**Social Class**<br>
AB - Higher & intermediate managerial, administrative, professional occupations<br>
C1 - Supervisory, clerical & junior managerial, administrative, professional occupations<br>
C2 - Skilled manual occupations<br>
D/space - Semi-skilled & unskilled manual occupations<br>
E/space - Unemployed and lowest grade occupations<br>
blank is ‘Unclassified’<br>


**Presence of Children**<br>
1 = No children<br>
2 = With children aged 0-3 years<br>
3 = With children aged 4-9 years<br>
4 = With children aged 0-3 and 4-9 years<br>
5 = With children aged 10-15 years<br>
6 = With children aged 0-3 and 10-15 years<br>
7 = With children aged 4-9 and 10-15 years<br>
8 = With children aged 0-3 and 4-9 and 10-15 years<br>
9 = Unclassified<br>

**Demographic cell**<br>
Cell Lifestage Social Class<br>
1 Pre-Family ABC1<br>
2 Pre-Family C2DE<br>
3 Young Family ABC1<br>
4 Young Family C2DE<br>
5 Older Family ABC1<br>
6 Older Family C2DE<br>
7 Post Family ABC1<br>
8 Post Family C2DE<br>
9 Inactive ABC1<br>
10 Inactive C2DE<br>

**Language Spoken at Home**<br>
1 = Welsh<br>
2 = English<br>
3= Welsh & English equally<br>
4 = Welsh and other language than English (equally)<br>
5 = Other<br>
9 = Undefined<br>

**Welsh Speaking Home**
1 = Wholly Welsh Speaking (all individuals 4+ are of Fluency 1, 2, 3 or 4)<br>
2 = Partly Welsh Speaking (some individuals 4+ are of Fluency 1, 2, 3 or 4 with other being 5 or 6) 3 = Non Welsh Speaking<br>
9 = Unclassified<br>

**Broadband**<br>
1 if the home has a broadband connection, else 2<br>

**2014 Mosaic Classification**<br>

|PVF Mosaic Code | Mosaic Type | Mosaic Type Definition | Mosaic Group | Mosaic Group Definition |
|---|---|---|---|---|
|001|1|World-Class Wealth|1|City Prosperity|
|002|2|Uptown Elite|1|City Prosperity|
|003|3|Penthouse Chic|1|City Prosperity|
|004|4|Metro High-Flyers|1|City Prosperity|
|005|5|Premium Fortunes|2|Prestige Position|
|006|6|Diamond Days|2|Prestige Position|
|007|7|Alpha Families|2|Prestige Position|
|008|8|Bank of Mum and Dad|2|Prestige Position|
|009|9|Empty-Nest Adventure|2|Prestige Position|
|010|10|Wealthy Landowners|3|Country Living|
|011|11|Rural Vogue|3|Country Living|
|012|12|Scattered Homesteads|3|Country Living|
|013|13|Village Retirement|3|Country Living|
|014|14|Satellite Settlers|4|Rural Reality|
|015|15|Local Focus|4|Rural Reality|
|016|16|Outlying Seniors|4|Rural Reality|
|017|17|Far-Flung Outposts|4|Rural Reality|
|018|18|Legacy Elders|5|Senior Security|
|019|19|Bungalow Haven|5|Senior Security|
|020|20|Classic Grandparents|5|Senior Security|
|021|21|Solo Retirees|5|Senior Security|
|022|22|Boomerang Boarders|6|Suburban Stability|
|023|23|Family Ties|6|Suburban Stability|
|024|24|Fledgling Flee|6|Suburban Stability|
|025|25|Dependable Me|6|Suburban Stability|
|026|26|Cafes and Catchments|7|Domestic Success|
|027|27|Thriving Independence|7|Domestic Success|
|028|28|Modern Parents|7|Domestic Success|
|029|29|Mid-Career Convention|7|Domestic Success|
|030|30|Primary Ambitions|8|Aspiring Homemakers|
|031|31|Affordable Fringe|8|Aspiring Homemakers|
|032|32|First-Rung Futures|8|Aspiring Homemakers|
|033|33|Contemporary Starts|8|Aspiring Homemakers|
|034|34|New Foundations|8|Aspiring Homemakers|
|035|35|Flying Solo|8|Aspiring Homemakers|
|036|36|Solid Economy|9|Family Basics|
|037|37|Budget Generations|9|Family Basics|
|038|38|Childcare Squeeze|9|Family Basics|
|039|39|Families with Needs|9|Family Basics|
|040|40|Make Do & Move On|10|Transient Renters|
|041|41|Disconnected Youth|10|Transient Renters|
|042|42|Midwife Stopgap|10|Transient Renters|
|043|43|Renting a Room|10|Transient Renters|
|044|44|Inner City Stalwarts|11|Municipal Challenge|
|045|45|Crowded Kaleidoscope|11|Municipal Challenge|
|046|46|High Rise Residents|11|Municipal Challenge|
|047|47|Streetwise Singles|11|Municipal Challenge|
|048|48|Low Income Workers|11|Municipal Challenge|
|049|49|Dependent Greys|12|Vintage Value|
|050|50|Pocket Pensions|12|Vintage Value|
|051|51|Aided Elderly|12|Vintage Value|
|052|52|Estate Veterans|12|Vintage Value|
|053|53|Seasoned Survivors|12|Vintage Value|
|054|54|Down-to-Earth Owners|13|Modest Traditions|
|055|55|Offspring Overspill|13|Modest Traditions|
|056|56|Self Supporters|13|Modest Traditions|
|057|57|Community Elders|14|Urban Cohesion|
|058|58|Cultural Comforts|14|Urban Cohesion|
|059|59|Asian Heritage|14|Urban Cohesion|
|060|60|Ageing Access|14|Urban Cohesion|
|061|61|Career Builders|15|Rental Hubs|
|062|62|Central Pulse|15|Rental Hubs|
|063|63|Flexible Workforce|15|Rental Hubs|
|064|64|Bus-Route Renters|15|Rental Hubs|
|065|65|Learners & Earners|15|Rental Hubs|
|066|66|Student Scene|15|Rental Hubs|
|099 |99|Unclassified/Suppressed postcodes|99|Unclassified/Suppressed postcodes|
|992|992|Invalid / Missing postcode|992|Invalid / Missing postcode|

In [131]:
for i in data.columns:
    print(i)
    print()
    print(data[i].describe())
    print()
    print(data[i].value_counts())
    print('---------------------------------------')

Panelist ID

count    1.007700e+04
mean     3.507137e+06
std      1.540466e+06
min      5.010000e+02
25%      2.946601e+06
50%      3.729503e+06
75%      4.210901e+06
max      9.014201e+06
Name: Panelist ID, dtype: float64

3433502    9
5179902    6
299801     6
4205501    6
4048301    4
3895401    4
4035502    4
4048302    4
3195701    4
3384401    4
3384402    4
3895402    4
5355501    4
5252401    4
3960104    4
4035501    4
5313401    4
3328707    2
4212101    2
5371702    2
5097202    2
5400302    2
2796401    2
5347602    2
3351902    2
5313403    2
3471101    2
3448504    2
4110103    2
4183603    2
          ..
4041304    1
3938902    1
3422802    1
58602      1
4084303    1
705101     1
3721804    1
3755202    1
3901301    1
3402802    1
997501     1
3733601    1
1227402    1
2935404    1
3834501    1
262301     1
1707401    1
1680001    1
4031101    1
1178301    1
3617403    1
4208101    1
3636602    1
3514301    1
3818101    1
3509101    1
5057501    1
4117103    1
5243501    1
3914701    1
Name: Panelist ID, Length: 9871, dtype: int64
---------------------------------------
Sex code

count    10077.000000
mean         1.533790
std          0.498882
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          2.000000
Name: Sex code, dtype: float64

2    5379
1    4698
Name: Sex code, dtype: int64
---------------------------------------
Date of birth

count                   10077
unique                   1069
top       1948-11-01 00:00:00
freq                       29
first     1913-01-01 00:00:00
last      2014-02-01 00:00:00
Name: Date of birth, dtype: object

1948-11-01    29
1947-01-01    24
1966-05-01    24
1947-08-01    23
1963-01-01    22
1975-05-01    22
1944-11-01    21
1954-04-01    21
1953-04-01    20
1962-11-01    20
1946-09-01    20
1963-07-01    20
1968-03-01    20
1968-02-01    20
1972-03-01    20
1971-09-01    19
1972-06-01    19
2008-05-01    19
1964-04-01    19
1951-12-01    19
1957-01-01    19
1951-04-01    19
1983-09-01    19
1947-03-01    19
1968-08-01    19
1947-07-01    19
1954-06-01    19
1974-01-01    19
1952-05-01    18
1958-08-01    18
              ..
1926-06-01     1
1922-11-01     1
1921-03-01     1
1913-01-01     1
1923-02-01     1
1933-02-01     1
1921-09-01     1
1924-04-01     1
1926-09-01     1
1924-05-01     1
1925-10-01     1
1923-03-01     1
1928-10-01     1
1929-07-01     1
1925-04-01     1
1933-09-01     1
2003-04-01     1
1925-09-01     1
1930-04-01     1
1935-12-01     1
1923-05-01     1
1928-11-01     1
1923-04-01     1
1928-12-01     1
1927-02-01     1
1937-03-01     1
1932-05-01     1
1928-05-01     1
1931-07-01     1
1927-01-01     1
Name: Date of birth, Length: 1069, dtype: int64
---------------------------------------
Marital status

count    10077.000000
mean         1.444874
std          0.529464
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          9.000000
Name: Marital status, dtype: float64

1    5636
2    4435
9       6
Name: Marital status, dtype: int64
---------------------------------------
Household status

count    10077.000000
mean         2.458668
std          1.189058
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max          9.000000
Name: Household status, dtype: float64

1    3026
4    2720
3    2166
2    2159
9       6
Name: Household status, dtype: int64
---------------------------------------
Working status

count    10077.000000
mean         2.793689
std          1.624791
min          1.000000
25%          1.000000
50%          4.000000
75%          4.000000
max          9.000000
Name: Working status, dtype: float64

1    3910
4    3375
5    1688
2    1046
3      52
9       6
Name: Working status, dtype: int64
---------------------------------------
Terminal age of education

count    10077.000000
mean         2.482286
std          0.945523
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          9.000000
Name: Terminal age of education, dtype: float64

2    4077
3    2874
4    1688
1    1432
9       6
Name: Terminal age of education, dtype: int64
---------------------------------------
Welsh Language code

count    10077.000000
mean         8.764017
std          1.230841
min          0.000000
25%          9.000000
50%          9.000000
75%          9.000000
max          9.000000
Name: Welsh Language code, dtype: float64

9    9697
1     134
4      89
5      65
3      55
2      31
0       6
Name: Welsh Language code, dtype: int64
---------------------------------------
Gaelic language code

count    10077.000000
mean         8.986603
std          0.313642
min          0.000000
25%          9.000000
50%          9.000000
75%          9.000000
max          9.000000
Name: Gaelic language code, dtype: float64

9    10057
0        6
5        5
1        4
4        2
3        2
2        1
Name: Gaelic language code, dtype: int64
---------------------------------------
Dependency of Children

count    10077.0
mean         9.0
std          0.0
min          9.0
25%          9.0
50%          9.0
75%          9.0
max          9.0
Name: Dependency of Children, dtype: float64

9    10077
Name: Dependency of Children, dtype: int64
---------------------------------------
Life stage

count    10077.000000
mean        18.447752
std         30.539644
min          1.000000
25%          6.000000
50%          7.000000
75%         10.000000
max         99.000000
Name: Life stage, dtype: float64

7     2059
99    1258
6     1148
11     955
8      809
9      764
10     699
1      592
5      537
3      469
4      422
12     211
2      154
Name: Life stage, dtype: int64
---------------------------------------
Ethnic Origin

count    10077.000000
mean         1.950084
std          3.519016
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         99.000000
Name: Ethnic Origin, dtype: float64

1     8691
10     334
5      251
6      204
3      120
2      108
7       92
15      51
13      48
11      42
14      40
12      40
8       24
9       15
4        6
99       6
17       5
Name: Ethnic Origin, dtype: int64
---------------------------------------
Disability

count    10077.000000
mean         3.407959
std         24.307384
min          1.000000
25%          3.000000
50%          3.000000
75%          3.000000
max        999.000000
Name: Disability, dtype: float64

3      8761
2       755
1       555
999       6
Name: Disability, dtype: int64
---------------------------------------
No of TV Sets

count    10077.000000
mean         1.896795
std          1.016569
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          9.000000
Name: No of TV Sets, dtype: float64

1    4274
2    3655
3    1372
4     550
5     162
6      48
7      14
9       2
Name: No of TV Sets, dtype: int64
---------------------------------------
No of VCRs

count    10077.000000
mean         0.083557
std          0.291068
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: No of VCRs, dtype: float64

0    9276
1     760
2      41
Name: No of VCRs, dtype: int64
---------------------------------------
No of PVRs

count    10077.000000
mean         0.979557
std          0.720027
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          6.000000
Name: No of PVRs, dtype: float64

1    6033
0    2293
2    1480
3     224
4      34
5       8
6       5
Name: No of PVRs, dtype: int64
---------------------------------------
No of DVDs

count    10077.000000
mean         0.869108
std          0.835423
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          5.000000
Name: No of DVDs, dtype: float64

1    4487
0    3695
2    1490
3     339
4      56
5      10
Name: No of DVDs, dtype: int64
---------------------------------------
No of People

count    10077.000000
mean         2.870497
std          1.438842
min          1.000000
25%          2.000000
50%          2.000000
75%          4.000000
max          8.000000
Name: No of People, dtype: float64

2    3499
4    1975
3    1722
1    1562
5     819
6     343
7     109
8      48
Name: No of People, dtype: int64
---------------------------------------
Social Class

count     10077
unique        5
top          AB
freq       2891
Name: Social Class, dtype: object

AB    2891
C1    2857
C2    2012
D     1328
E      989
Name: Social Class, dtype: int64
---------------------------------------
Presence of Children

count    10077.000000
mean         2.237670
std          1.950249
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max          8.000000
Name: Presence of Children, dtype: float64

1    6551
5    1018
3     964
7     720
4     418
2     307
6      51
8      48
Name: Presence of Children, dtype: int64
---------------------------------------
Demographic cell 1

count    10077.000000
mean         2.237670
std          1.950249
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max          8.000000
Name: Demographic cell 1, dtype: float64

1    6551
5    1018
3     964
7     720
4     418
2     307
6      51
8      48
Name: Demographic cell 1, dtype: int64
---------------------------------------
Language Spoken at Home

count    10077.000000
mean         8.350402
std          2.041154
min          1.000000
25%          9.000000
50%          9.000000
75%          9.000000
max          9.000000
Name: Language Spoken at Home, dtype: float64

9    9147
2     812
1      82
3      31
5       5
Name: Language Spoken at Home, dtype: int64
---------------------------------------
Welsh Speaking Home

count    10077.000000
mean         2.935794
std          0.307615
min          1.000000
25%          3.000000
50%          3.000000
75%          3.000000
max          3.000000
Name: Welsh Speaking Home, dtype: float64

3    9604
2     299
1     174
Name: Welsh Speaking Home, dtype: int64
---------------------------------------
Number of DVD Recorders

count    10077.000000
mean         0.040191
std          0.200912
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: Number of DVD Recorders, dtype: float64

0    9681
1     387
2       9
Name: Number of DVD Recorders, dtype: int64
---------------------------------------
Number of DVD Players

count    10077.000000
mean         0.832887
std          0.828278
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          5.000000
Name: Number of DVD Players, dtype: float64

1    4354
0    3925
2    1421
3     316
4      56
5       5
Name: Number of DVD Players, dtype: int64
---------------------------------------
Number of Sky PVRs

count    10077.000000
mean         0.493996
std          0.732537
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          6.000000
Name: Number of Sky PVRs, dtype: float64

0    6268
1    2845
2     810
3     119
4      22
5      10
6       3
Name: Number of Sky PVRs, dtype: int64
---------------------------------------
Number of other PVRs

count    10077.000000
mean         0.470874
std          0.613522
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          3.000000
Name: Number of other PVRs, dtype: float64

0    5934
1    3580
2     524
3      39
Name: Number of other PVRs, dtype: int64
---------------------------------------
Broadband

count    10077.000000
mean         1.064900
std          0.246362
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
Name: Broadband, dtype: float64

1    9423
2     654
Name: Broadband, dtype: int64
---------------------------------------
Mosaic Classification

count    10077.000000
mean        38.824154
std         26.513474
min          1.000000
25%         19.000000
50%         31.000000
75%         54.000000
max         99.000000
Name: Mosaic Classification, dtype: float64

99    1100
30     303
31     294
13     289
16     264
39     255
19     251
15     250
14     241
23     220
36     219
55     218
28     213
12     211
27     211
48     205
29     204
26     199
21     194
11     180
20     178
54     169
22     165
52     164
64     164
9      161
37     158
42     157
18     156
58     154
      ...
25     112
57     111
56     111
50     111
33     109
10      99
24      99
32      99
53      97
60      89
63      87
2       84
44      82
61      73
43      71
49      66
51      65
4       61
17      56
65      51
62      49
5       47
45      44
41      33
35      32
1       23
34      23
46      12
66      11
3        9
Name: Mosaic Classification, Length: 67, dtype: int64
---------------------------------------
No of Computers

count    10077.0
mean       999.0
std          0.0
min        999.0
25%        999.0
50%        999.0
75%        999.0
max        999.0
Name: No of Computers, dtype: float64

999    10077
Name: No of Computers, dtype: int64
---------------------------------------
Genre Drama

count    10077.000000
mean         5.402320
std         33.102451
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        741.300000
Name: Genre Drama, dtype: float64

0.00      9462
2.00        68
235.40      29
4.00        27
8.00        20
234.43      12
6.00        11
12.00        9
10.00        6
0.43         6
22.00        5
26.00        5
8.33         5
4.43         5
118.27       5
20.00        5
24.00        5
110.00       4
46.00        4
0.97         4
14.00        4
236.97       4
228.97       4
2.43         4
0.37         3
88.00        3
230.97       3
16.00        3
2.37         3
85.20        3
          ...
119.00       1
32.40        1
117.30       1
37.40        1
173.57       1
196.43       1
64.80        1
104.43       1
36.43        1
124.20       1
126.30       1
30.97        1
31.30        1
231.40       1
235.80       1
117.67       1
186.43       1
52.00        1
57.23        1
44.00        1
58.00        1
228.00       1
120.00       1
109.30       1
93.20        1
206.43       1
119.20       1
199.50       1
295.00       1
37.23        1
Name: Genre Drama, Length: 288, dtype: int64
---------------------------------------
Genre Soaps

count    10077.000000
mean        18.638257
std         86.788928
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       2052.100000
Name: Genre Soaps, dtype: float64

0.00      8545
2.00       168
4.00        56
6.00        34
8.00        27
10.00       22
56.63       17
18.00       14
1.40        12
14.00       12
16.00       11
1.10        11
24.00        9
56.70        9
1.63         9
30.00        7
2.40         7
1.53         7
12.00        7
56.60        7
58.00        7
38.00        6
26.00        6
36.00        5
62.00        5
3.40         4
0.53         4
0.23         4
42.00        4
3.53         4
          ...
32.23        1
0.47         1
54.47        1
54.53        1
213.80       1
23.27        1
42.63        1
269.00       1
86.50        1
194.00       1
19.10        1
154.20       1
260.10       1
543.80       1
239.77       1
578.00       1
43.07        1
826.27       1
515.10       1
80.03        1
23.63        1
278.77       1
176.67       1
119.67       1
314.67       1
291.33       1
34.27        1
162.63       1
102.00       1
58.23        1
Name: Genre Soaps, Length: 853, dtype: int64
---------------------------------------
Genre Series Drama Generic

count    10077.000000
mean       184.073084
std        496.320983
min          0.000000
25%          0.000000
50%          0.000000
75%        117.170000
max       9549.170000
Name: Genre Series Drama Generic, dtype: float64

0.00       5316
2.00        393
4.00        190
6.00        114
8.00         70
10.00        62
12.00        37
16.00        32
22.00        31
18.00        26
26.00        19
24.00        18
28.00        18
14.00        17
20.00        16
32.00        16
30.00        13
118.00       13
34.00        13
1.00         12
82.00        12
38.00        12
40.00        12
56.00        11
54.00        11
48.00        11
42.00        11
36.00        10
66.00        10
52.00        10
           ...
306.67        1
1153.20       1
346.80        1
1670.80       1
1376.23       1
1551.77       1
516.67        1
967.33        1
212.00        1
49.00         1
234.97        1
945.20        1
644.10        1
292.50        1
1258.93       1
799.60        1
283.20        1
398.20        1
981.67        1
627.10        1
1825.80       1
124.03        1
90.97         1
573.07        1
318.77        1
412.10        1
1650.47       1
1301.53       1
224.67        1
445.10        1
Name: Genre Series Drama Generic, Length: 2801, dtype: int64
---------------------------------------
Genre Cinema Films

count    10077.000000
mean       116.199956
std        266.701681
min          0.000000
25%          0.000000
50%          2.000000
75%        124.770000
max       4804.970000
Name: Genre Cinema Films, dtype: float64

0.00       4773
2.00        364
4.00        190
6.00        143
8.00         83
10.00        71
14.00        67
12.00        48
20.00        45
22.00        44
34.00        36
26.00        36
24.00        35
40.00        34
18.00        33
30.00        30
16.00        30
38.00        28
32.00        27
36.00        27
28.00        25
46.00        24
44.00        24
50.00        21
72.00        21
82.00        20
76.00        18
70.00        18
42.00        18
128.00       17
           ...
394.60        1
605.73        1
562.27        1
253.27        1
325.03        1
1272.60       1
1288.77       1
386.77        1
1015.17       1
610.07        1
158.07        1
716.77        1
362.13        1
433.87        1
457.70        1
264.03        1
263.80        1
148.37        1
66.57         1
300.57        1
389.43        1
13.23         1
632.03        1
607.97        1
514.67        1
4.03          1
533.23        1
799.13        1
988.87        1
235.17        1
Name: Genre Cinema Films, Length: 2587, dtype: int64
---------------------------------------
Genre TV Fils

count    10077.000000
mean        15.639785
std         80.718570
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       2536.570000
Name: Genre TV Fils, dtype: float64

0.00       8704
2.00        189
4.00        101
6.00         54
8.00         40
10.00        27
12.00        18
14.00        18
22.00        15
38.00        15
18.00        15
16.00        13
20.00        10
244.07        9
46.00         8
24.00         8
36.00         8
34.00         8
110.00        8
122.00        6
44.00         6
66.00         6
32.00         6
5.33          6
70.00         5
50.00         5
88.00         5
26.00         5
161.10        5
0.80          5
           ...
115.47        1
54.17         1
152.63        1
199.37        1
166.80        1
31.27         1
7.80          1
30.43         1
238.07        1
207.93        1
2.67          1
266.60        1
393.70        1
408.30        1
831.13        1
2115.60       1
104.40        1
484.80        1
5.27          1
146.50        1
230.00        1
23.50         1
225.37        1
228.73        1
172.30        1
248.33        1
377.23        1
80.97         1
122.03        1
217.47        1
Name: Genre TV Fils, Length: 596, dtype: int64
---------------------------------------
Genre Entertainment

count    10077.000000
mean       217.451827
std        498.430282
min          0.000000
25%          0.000000
50%         48.000000
75%        227.670000
max       8307.120000
Name: Genre Entertainment, dtype: float64

0.00       2912
2.00        267
4.00        141
6.00         91
8.00         83
1.97         57
10.00        57
16.00        46
14.00        39

→ Calcular la edad, seria una variable más interesante para ver

→ Demographic cell 1 tiene igual distribucion  Presence of Children

→ Gaelic language code casi sin datos por fuera de código 9

→ Dependency of Children todos en código 9

→ No of Computers todos en código 999

→ Genre Soaps?

→ Genre Religious la gran mayoria en 0

→ Genre PP Broadcast la gran mayoria en 0

→ Genre Education la gran mayoria en 0


Para el TP vamos a seleccionar el atributo Clase Social y sexo (diseñamos un índice combinado) como target. Se pueden plantear varias cuestiones alrededor de este atributo para intentar descubrir conocimiento.

In [132]:
data['target']=[str(data['Sex code'][i])+'-'+str(data['Social Class'][i]) for i in range(len(data))]

In [133]:
data.target.unique()

array(['2-C1', '2-AB', '2-E ', '1-E ', '2-D ', '1-C2', '1-AB', '1-C1',
       '2-C2', '1-D '], dtype=object)

In [134]:
cod=['1-AB','1-C1','1-C2','1-D ','1-E ','2-AB','2-C1','2-C2','2-D ','2-E ']
val=[1,2,3,4,5,6,7,8,9,10]

In [135]:
disc=pd.DataFrame(cod,val)

In [136]:
data['Target']=[disc[disc[0]==data['target'][i]].index[0] for i in range(len(data))]

In [137]:
import datetime
hoy = datetime.date.today()

In [138]:
data['edad']=[hoy.year-data['Date of birth'][i].year for i in range(len(data))]

In [139]:
data.columns

Index(['Panelist ID', 'Sex code', 'Date of birth', 'Marital status',
       'Household status', 'Working status', 'Terminal age of education',
       'Welsh Language code', 'Gaelic language code', 'Dependency of Children',
       'Life stage', 'Ethnic Origin', 'Disability', 'No of TV Sets',
       'No of VCRs', 'No of PVRs', 'No of DVDs', 'No of People',
       'Social Class', 'Presence of Children', 'Demographic cell 1',
       'Language Spoken at Home', 'Welsh Speaking Home',
       'Number of DVD Recorders', 'Number of DVD Players',
       'Number of Sky PVRs', 'Number of other PVRs', 'Broadband',
       'Mosaic Classification', 'No of Computers', 'Genre Drama',
       'Genre Soaps', 'Genre Series Drama Generic', 'Genre Cinema Films',
       'Genre TV Fils', 'Genre Entertainment', 'Genre Music', 'Genre Arts',
       'Genre News/Weather', 'Genre Current Affairs', 'Genre Hobbies/Leisure',
       'Genre Documentaries', 'Genre Religious', 'Genre Sport',
       'Genre Children', 'Genre PP Broadcast', 'Genre Education',
       'Genre Other Films', 'Genre Other', 'Genre Other.1', 'target', 'Target',
       'edad'],
      dtype='object')

→ Calcular la edad, seria una variable más interesante para ver

→ Demographic cell 1 tiene igual distribucion  Presence of Children

→ Gaelic language code casi sin datos por fuera de código 9

→ Dependency of Children todos en código 9

→ No of Computers todos en código 999

→ Genre Soaps?

→ Genre Religious la gran mayoria en 0

→ Genre PP Broadcast la gran mayoria en 0

→ Genre Education la gran mayoria en 0

modificamos las clasificaciones 9 99 999 0 definidas como nulas por np.na para que python las pueda identificar como tales

Descripcion de los valores:

**Marital status**<br>
9 = Unclassified <br>

**Household status**<br>
9 = Unclassified <br>

**Working status**<br>
9 = Unclassified <br>

**Terminal age of education**<br>
9 = Unclassified <br>

**Dependency of Children**<br>
9 = Unclassified<br>

**Lifestage (12 way classification)**<br>
99 = Unclassified <br>

**Ethnic Origin**<br>
99 = Unclassified<br> 

**Disability**<br>
Normal daily activities limited by long-term disability/health problem: <br>
999 = Unclassified <br>


**Presence of Children**<br>
9 = Unclassified<br>

**Demographic cell**<br>
Cell Lifestage Social Class<br>
9 Inactive ABC1<br>
10 Inactive C2DE<br>

**Language Spoken at Home**<br>
9 = Undefined<br>

**Welsh Speaking Home**
9 = Unclassified<br>

**Broadband**<br>
1 if the home has a broadband connection, else 2<br>

**2014 Mosaic Classification**<br>

|099 |99|Unclassified/Suppressed postcodes|99|Unclassified/Suppressed postcodes|

In [140]:
data[data['Marital status']==9]

,Panelist ID,Sex code,Date of birth,Marital status,Household status,Working status,Terminal age of education,Welsh Language code,Gaelic language code,Dependency of Children,...,Genre Sport,Genre Children,Genre PP Broadcast,Genre Education,Genre Other Films,Genre Other,Genre Other.1,target,Target,edad
2714,5179902,1,1995-06-01,9,9,9,9,0,0,9,...,0.0,0.0,0.0,0.0,0.0,0.0,188.60,1-C1,2,24
2716,5179902,1,1995-06-01,9,9,9,9,0,0,9,...,0.0,0.0,0.0,0.0,0.0,0.0,188.60,1-C1,2,24
2844,3960104,1,1993-12-01,9,9,9,9,0,0,9,...,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1-AB,1,26
2845,3960104,1,1993-12-01,9,9,9,9,0,0,9,...,0.0,2.0,0.0,0.0,0.0,0.0,0.00,1-AB,1,26
7642,4035501,2,1983-06-01,9,9,9,9,0,0,9,...,0.0,0.0,0.0,0.0,0.0,0.0,170.77,2-E,10,36
7645,4035501,2,1983-06-01,9,9,9,9,0,0,9,...,0.0,0.0,0.0,0.0,0.0,0.0,170.77,2-E,10,36

In [142]:
# ['Marital status','Terminal age of education','Dependency of Children', 'Ethnic Origin', 'Presence of Children']
# [9,9,9,99,9]

data['Marital status']=[np.nan if data['Marital status'][i]==9 else data['Marital status'][i] for i in range(len(data))]
data['Terminal age of education']=[np.nan if data['Terminal age of education'][i]==9 else data['Terminal age of education'][i] for i in range(len(data))]
data['Ethnic Origin']=[np.nan if data['Ethnic Origin'][i]==99 else data['Ethnic Origin'][i] for i in range(len(data))]
data['Presence of Children']=[np.nan if data['Presence of Children'][i]==9 else data['Presence of Children'][i] for i in range(len(data))]

In [155]:
# calculamos la cantidad de minutos totales
data['min_totales']=[data[['Genre Drama',
       'Genre Soaps', 'Genre Series Drama Generic', 'Genre Cinema Films',
       'Genre TV Fils', 'Genre Entertainment', 'Genre Music', 'Genre Arts',
       'Genre News/Weather', 'Genre Current Affairs', 'Genre Hobbies/Leisure',
       'Genre Documentaries', 'Genre Religious', 'Genre Sport',
       'Genre Children', 'Genre PP Broadcast', 'Genre Education',
       'Genre Other Films']].iloc[i].sum() for i in range(len(data))]

In [156]:
# calculamos la distribución de los minutos vistos
generos=['Genre Drama',
       'Genre Soaps', 'Genre Series Drama Generic', 'Genre Cinema Films',
       'Genre TV Fils', 'Genre Entertainment', 'Genre Music', 'Genre Arts',
       'Genre News/Weather', 'Genre Current Affairs', 'Genre Hobbies/Leisure',
       'Genre Documentaries', 'Genre Religious', 'Genre Sport',
       'Genre Children', 'Genre PP Broadcast', 'Genre Education',
       'Genre Other Films']
for g in generos:
        data[g+'- %']=0

In [157]:
for g in generos:
        data[g+'- %']=data[g]/data['min_totales']

In [158]:
data.columns

Index(['Panelist ID', 'Sex code', 'Date of birth', 'Marital status',
       'Household status', 'Working status', 'Terminal age of education',
       'Welsh Language code', 'Gaelic language code', 'Dependency of Children',
       'Life stage', 'Ethnic Origin', 'Disability', 'No of TV Sets',
       'No of VCRs', 'No of PVRs', 'No of DVDs', 'No of People',
       'Social Class', 'Presence of Children', 'Demographic cell 1',
       'Language Spoken at Home', 'Welsh Speaking Home',
       'Number of DVD Recorders', 'Number of DVD Players',
       'Number of Sky PVRs', 'Number of other PVRs', 'Broadband',
       'Mosaic Classification', 'No of Computers', 'Genre Drama',
       'Genre Soaps', 'Genre Series Drama Generic', 'Genre Cinema Films',
       'Genre TV Fils', 'Genre Entertainment', 'Genre Music', 'Genre Arts',
       'Genre News/Weather', 'Genre Current Affairs', 'Genre Hobbies/Leisure',
       'Genre Documentaries', 'Genre Religious', 'Genre Sport',
       'Genre Children', 'Genre PP Broadcast', 'Genre Education',
       'Genre Other Films', 'Genre Other', 'Genre Other.1', 'target', 'Target',
       'edad', 'min_totales', 'Genre Drama- %', 'Genre Soaps- %',
       'Genre Series Drama Generic- %', 'Genre Cinema Films- %',
       'Genre TV Fils- %', 'Genre Entertainment- %', 'Genre Music- %',
       'Genre Arts- %', 'Genre News/Weather- %', 'Genre Current Affairs- %',
       'Genre Hobbies/Leisure- %', 'Genre Documentaries- %',
       'Genre Religious- %', 'Genre Sport- %', 'Genre Children- %',
       'Genre PP Broadcast- %', 'Genre Education- %', 'Genre Other Films- %'],
      dtype='object')

In [159]:
# definimos con que columnas vamos a trabajar
# columnas con pocos datos y las que fueron usadas para armar el índice combinado se eliminan antes de empezar a hacer los análisis de prepocesamiento
# Panelist ID es índice y único, se elimina y nos quedamos con el índice del dataframe
cols=['Marital status','Terminal age of education', 'Ethnic Origin', 'Presence of Children',
      'Genre Drama','Genre Soaps', 'Genre Series Drama Generic', 'Genre Cinema Films',
       'Genre TV Fils', 'Genre Entertainment', 'Genre Music', 'Genre Arts',
       'Genre News/Weather', 'Genre Current Affairs', 'Genre Hobbies/Leisure',
       'Genre Documentaries', 'Genre Religious', 'Genre Sport',
       'Genre Children', 'Genre PP Broadcast', 'Genre Education',
       'Genre Other Films','edad', 'min_totales', 'Genre Drama- %', 'Genre Soaps- %',
       'Genre Series Drama Generic- %', 'Genre Cinema Films- %',
       'Genre TV Fils- %', 'Genre Entertainment- %', 'Genre Music- %',
       'Genre Arts- %', 'Genre News/Weather- %', 'Genre Current Affairs- %',
       'Genre Hobbies/Leisure- %', 'Genre Documentaries- %',
       'Genre Religious- %', 'Genre Sport- %', 'Genre Children- %',
       'Genre PP Broadcast- %', 'Genre Education- %', 'Genre Other Films- %']
y='Target'

In [160]:
# se hace la separación del datafreme inicial para no influir en test.
# dejamos el 20% de la base para testear

train_X, test_X, train_y, test_y = train_test_split(data[cols], data[y], train_size=0.8, test_size=0.2, random_state=123)

In [161]:
# redefinimos data como nuestro dataframe solomente con la información de train
data_train=train_X.merge(train_y,left_index=True,right_index=True)

# Hasta este punto:
→ Definimos target. Indice combinado entre edad y clase social. La idea es poder predecir esto para poder dirigir campañas publicitarias o de promociones.

→ Agregamos las variables de edad y proporción de minutos por genero respecto al total de minutos.

→ Reemplazamos por nan los valores no clasificados.

→ Seleccionamos las variables que vamos a usar para definir nuestro target.

→ Hacemos la separación test - train para no influir en las obervaciones de testeo.

In [118]:
# completamos datos faltantes. Usamos el metodo mice (Multiple imputation by chained equations)
for c in data_train.columns:
    print(c)
    print(len(data_train[data_train[c]==np.nan])/len(data_train))
    print()

Marital status
0.0

Terminal age of education
0.0

Ethnic Origin
0.0

Presence of Children
0.0

Genre Drama
0.0

Genre Soaps
0.0

Genre Series Drama Generic
0.0

Genre Cinema Films
0.0

Genre TV Fils
0.0

Genre Entertainment
0.0

Genre Music
0.0

Genre Arts
0.0

Genre News/Weather
0.0

Genre Current Affairs
0.0

Genre Hobbies/Leisure
0.0

Genre Documentaries
0.0

Genre Religious
0.0

Genre Sport
0.0

Genre Children
0.0

Genre PP Broadcast
0.0

Genre Education
0.0

Genre Other Films
0.0

edad
0.0

min_totales
0.0

Genre Drama- %
0.0

Genre Soaps- %
0.0

Genre Series Drama Generic- %
0.0

Genre Cinema Films- %
0.0

Genre TV Fils- %
0.0

Genre Entertainment- %
0.0

Genre Music- %
0.0

Genre Arts- %
0.0

Genre News/Weather- %
0.0

Genre Current Affairs- %
0.0

Genre Hobbies/Leisure- %
0.0

Genre Documentaries- %
0.0

Genre Religious- %
0.0

Genre Sport- %
0.0

Genre Children- %
0.0

Genre PP Broadcast- %
0.0

Genre Education- %
0.0

Genre Other Films- %
0.0

Target
0.0

In [ ]:
!pip install fancyimpute

In [171]:
import fancyimpute  
from sklearn.preprocessing import Imputer 

fancyimpute.MICE().complete(data_train)

ModuleNotFoundError: No module named 'fancyimpute'

In [167]:
# Primer árbol

cols=['Marital status', 'Terminal age of education', 'Ethnic Origin',
       'Presence of Children', 'Genre Drama', 'Genre Soaps',
       'Genre Series Drama Generic', 'Genre Cinema Films', 'Genre TV Fils',
       'Genre Entertainment', 'Genre Music', 'Genre Arts',
       'Genre News/Weather', 'Genre Current Affairs', 'Genre Hobbies/Leisure',
       'Genre Documentaries', 'Genre Religious', 'Genre Sport',
       'Genre Children', 'Genre PP Broadcast', 'Genre Education',
       'Genre Other Films', 'edad', 'min_totales', 'Genre Drama- %',
       'Genre Soaps- %', 'Genre Series Drama Generic- %',
       'Genre Cinema Films- %', 'Genre TV Fils- %', 'Genre Entertainment- %',
       'Genre Music- %', 'Genre Arts- %', 'Genre News/Weather- %',
       'Genre Current Affairs- %', 'Genre Hobbies/Leisure- %',
       'Genre Documentaries- %', 'Genre Religious- %', 'Genre Sport- %',
       'Genre Children- %', 'Genre PP Broadcast- %', 'Genre Education- %',
       'Genre Other Films- %']
y='Target'

In [168]:
data_train_X, data_test_X, data_train_y, data_test_y = train_test_split(data_train[cols], data_train[y], train_size=0.7, test_size=0.3, random_state=12)

In [170]:
dtree=DecisionTreeClassifier(max_leaf_nodes=3)
dtree.fit(data_train_X, data_train_y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [54]:
predictions=dtree.predict(test_X)
predictions2=dtree.predict(train_X)
acc=accuracy_score(test_y, predictions)
acc2=accuracy_score(train_y, predictions2)

print(acc)
print(acc2)

0.7463624338624338
0.7352899475400538

In [59]:
cols=['Sex code',
       'Household status', 'Working status', 'Terminal age of education',
       'Welsh Language code', 'Gaelic language code', 'Dependency of Children',
       'Life stage', 'Ethnic Origin', 'Disability', 'No of TV Sets',
       'No of VCRs', 'No of PVRs', 'No of DVDs', 'No of People',
       'Presence of Children', 'Demographic cell 1',
       'Language Spoken at Home', 'Welsh Speaking Home',
       'Number of DVD Recorders', 'Number of DVD Players',
       'Number of Sky PVRs', 'Number of other PVRs', 'Broadband',
       'Mosaic Classification', 'No of Computers', 'Genre Drama',
       'Genre Soaps', 'Genre Series Drama Generic', 'Genre Cinema Films',
       'Genre TV Fils', 'Genre Entertainment', 'Genre Music', 'Genre Arts',
       'Genre News/Weather', 'Genre Current Affairs', 'Genre Hobbies/Leisure',
       'Genre Documentaries', 'Genre Religious', 'Genre Sport',
       'Genre Children', 'Genre PP Broadcast', 'Genre Education',
       'Genre Other Films', 'Genre Other', 'Genre Other.1']
y='Marital status'

In [60]:
train_X, test_X, train_y, test_y = train_test_split(data[cols], data[y], train_size=0.7, test_size=0.3, random_state=123)

In [61]:
dtree=DecisionTreeClassifier(max_leaf_nodes=5)
dtree.fit(train_X, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=5, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [62]:
predictions=dtree.predict(test_X)
predictions2=dtree.predict(train_X)
acc=accuracy_score(test_y, predictions)
acc2=accuracy_score(train_y, predictions2)

print(acc)
print(acc2)

0.9153439153439153
0.9211682971785056

In [43]:
cols=['Sex code','Marital status',
       'Household status', 'Working status', 
       'Welsh Language code', 'Gaelic language code', 'Dependency of Children',
       'Life stage', 'Ethnic Origin', 'Disability', 'No of TV Sets',
       'No of VCRs', 'No of PVRs', 'No of DVDs', 'No of People',
       'Presence of Children', 'Demographic cell 1',
       'Language Spoken at Home', 'Welsh Speaking Home',
       'Number of DVD Recorders', 'Number of DVD Players',
       'Number of Sky PVRs', 'Number of other PVRs', 'Broadband',
       'Mosaic Classification', 'No of Computers', 'Genre Drama',
       'Genre Soaps', 'Genre Series Drama Generic', 'Genre Cinema Films',
       'Genre TV Fils', 'Genre Entertainment', 'Genre Music', 'Genre Arts',
       'Genre News/Weather', 'Genre Current Affairs', 'Genre Hobbies/Leisure',
       'Genre Documentaries', 'Genre Religious', 'Genre Sport',
       'Genre Children', 'Genre PP Broadcast', 'Genre Education',
       'Genre Other Films', 'Genre Other', 'Genre Other.1']
y='Terminal age of education'

In [44]:
train_X, test_X, train_y, test_y = train_test_split(data[cols], data[y], train_size=0.7, test_size=0.3, random_state=123)

In [45]:
dtree=DecisionTreeClassifier(max_leaf_nodes=5)
dtree.fit(train_X, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=5, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [46]:
predictions=dtree.predict(test_X)
predictions2=dtree.predict(train_X)
acc=accuracy_score(test_y, predictions)
acc2=accuracy_score(train_y, predictions2)

print(acc)
print(acc2)

0.5562169312169312
0.5841485892528002